.container {
  width: 100%;
  border-radius: 8px;
  height: 200px;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../static/fresh_millet_crop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.search-box-input {
  position: relative;
  width: 50%;
}

.search-box-input button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #d1411e;
  color: white;
  border: none;
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 1rem;
  padding: 0.8rem 3rem;
  margin: 0.2rem;
  cursor: pointer;
}

.search-box-input input[type="text"] {
  width: 100%;
  padding: 1rem;
  padding-left: 3rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.search-box-input::placeholder {
  color: #594d5b;
}

.search-box-input svg {
  position: absolute;
  top: 0;
  color: #594d5b;
  transform: translate(50%, 50%);
}
